<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @message.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @message.category %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>—skip-test-framework:</strong>
  <%= @message.—skip-test-framework %>
</p>

<p>
  <strong>—skip-assets:</strong>
  <%= @message.—skip-assets %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
