<h1 class="super-title">Administration des salons</h1>

<%= form_tag(mine_chat_rooms_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Rechercher un salon" %>
        <%= submit_tag "Recherche", id: "submitSearch", class: "btn btn-info" %>
<% end %>

<%=  will_paginate @chat_rooms, renderer: BootstrapPagination::Rails %>
<% if @chat_rooms.present? %>
    <table class="table">
        <thead>
            <tr>
                <th>Salon</th>
                <th>Créateur</th>
                <th>Date de création</th>
                <th>Dernière mise à jour</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <% @chat_rooms.each do |chat_room| %>
                <tr>
                    <td><%= chat_room.title %></td>
                    <td><%= chat_room.user.username %></td>
                    <td><%= chat_room.created_at.strftime("%d-%m-%Y") %></td>
                    <td><%= chat_room.updated_at.strftime("%d-%m-%Y") %></td>
                    <td>
                        <%= link_to 'Accéder', chat_room, class: 'btn btn-primary' %>
                        <%= link_to 'Modifier', edit_chat_room_path(chat_room), class: 'btn btn-warning' %>
                        <%= link_to 'Supprimer', chat_room, method: :delete, data: { confirm: 'Êtes vous sûr de supprimer ce salon ? Cette action est irréversible' }, class: 'btn btn-danger' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

<% else %>
    <p>Aucun salon ne correspond à cette recherche <%= params[:search] %>.</p>
<% end %>
