<div class="col-lg-12">
    <h1 class="super-title">Sélectionnez un salon de chat</h1>
    <hr>
    <br><br>
    <%= render "layouts/search" %>
    <!-- Affiche la pagination seulement si il y a plus d'une page -->
    <% if @chat_rooms.count > 7 %>
        <%=  will_paginate @chat_rooms, renderer: BootstrapPagination::Rails %>
    <% end %>
    <br>
    <div class="circle">
        <%= link_to new_chat_room_path do %>
            <div class="category-first-letter">+</div>
            <div class="category-title">Ajouter une catégorie</div>
        <% end %>
    </div>

    <% if @chat_rooms.present? %>
        <%= render @chat_rooms %>
    <% else %>
        <% if params[:search].present? %>
            <p>Aucun salon ne correspond à cette recherche : <%= params[:search] %>.</p>
        <% else %>
            <p>Il n'y a aucun salon</p>
        <% end %>
    <% end %>
</div>
