<div class="content-centered">
  <%= simple_form_for(@category) do |f| %>
    <%= f.error_notification %>

      <div class="row">
          <div class="form-group col-lg-12">
              <p>
                  <%= f.input :name, label: 'Name', class:'form-control' %>
              </p>
          </div>
      </div>

      <div class="row">
          <div class="form-group col-lg-12">
              <p>
                  <%= f.input :description, label: 'Description', class:'form-control' %>
              </p>
          </div>
      </div>

      <p>
          <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </p>
  <% end %>
</div>