<p id="notice"><%= notice %></p>



<div class="col-lg-12">
    <h1 class="super-title">Sélectionnez votre catégorie</h1>
    <hr>
    <br><br>
      <div class="circle">
        <%= link_to new_category_path do %>
            <div class="category-first-letter">+</div>
                  <div class="category-title">Ajouter une catégorie</div>
        <% end %>
     </div>
      <% if @categories.any? %>
          <% @categories.each do |c| %>
            <div class="circle">
                <%= link_to c do %>
                  <div class="category-first-letter"><%= c.name.capitalize.chars.first %></div>
                  <div class="category-title"><%= c.name.capitalize %></div>
                <% end %>
            </div>
          <% end %>
      <% end %>
</div>