<p id="notice"><%= notice %></p>

<h1 class="super-title"><%= @category.name %></h1>

<div class="row">
<<<<<<< HEAD
    <div class="col-lg-5">
        <%= link_to 'Back', categories_path, class: 'btn btn-info' %>
=======
    <div class="col-lg-12">
      <p>
        <strong>Description:</strong><br>
        <%= @category.description %>
      </p>

      <hr>
      <%= link_to 'Back', categories_path, class: 'btn btn-info' %>
      <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-warning' %>
>>>>>>> mike_dev
    </div>
</div>

<div class="box">
    <div class="block">
        <div class="msg">
            <div class="author">
                <div class="content">
                    coming soon
                </div>
            </div>
        </div>
    </div>
</div>

<input type="text" name="sendMessage" data-room="<%= @category.id %>">
