<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<div class="row">
    <div class="col-lg-5">
        <%= link_to 'Back', categories_path, class: 'btn btn-info' %>
    </div>
</div>

<div class="box">
    <div class="block">
        <div class="msg">
            <div class="author">
                <div class="content">
                    coming soon
                </div>
            </div>
        </div>
    </div>
</div>

<input type="text" name="sendMessage" data-room="<%= @category.id %>">
