<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Gowip</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <% if user_signed_in? %>
                        <% if current_user.has_role?(:admin) %>
                            <li>
                                <%= link_to('Administration', admin_chat_rooms_path) %>
                            </li>
                        <% end %>

                        <li>
                            <%= link_to('Mes salons', mine_chat_rooms_path) %>
                        </li>
                        <li>
                            <%= link_to current_user.username, edit_user_registration_path %>
                        </li>
                        <li>
                            <%= link_to('Se deconnecter', destroy_user_session_path, :method => :delete) %>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to('Se connecter', new_user_session_path)  %>
                        </li>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>
